body{
    font-family: 'Anek Devanagari', sans-serif;
    background-color: rgb(151, 221, 178);
    margin: 10%;
}
header {
    background-color: rgb(215, 235, 207);
    color: rgb(69, 227, 233);
    width: 100%;
    height: auto
    font-size: 20px;
}

/* ul{
    display: inline-block;
    margin: 0 20px;
    text-align: justify;
    text-decoration: none;
    list-style-type: none;
    padding-right: 10px;
    
} */

li {
    padding: 3%;
   list-style-type: none;
   float: left;
    margin: 1em;
    text-align: center;
    background-color: rgb(124, 113, 114);
    border-radius: 9px;
    overflow: hidden;
}
nav {
 display: grid;   
}

section {
    display: flex-block;
    margin: 1em;
    padding: 5%;
    background-color: aliceblue;
}
h1{
    text-align: center;
    font-size: 50px;
   
}
.imagenes-centradas {
    margin: 10%;
    width: 70%;
    height: auto;
}